<li id="news_<%= this.guid %>" class="mui-table-view-cell mui-media">
	<a href="detail.html?guid=<%= this.guid %>" data-guid="<%= this.guid %>">
		<div class="mui-media-object mui-pull-left">
			<img src="<%= this.thumbnail %>" />
		</div>
		<div class="mui-media-body">
			<span><%= this.title %> </span><span class='rv-gearbox'><%= this.gearbox %></span>
		</div>
		<p class='mui-ellipsis'>所在地：<%= this.location %></p>
		<p class='mui-ellipsis'><span>适合人数<%= this.capacity %></span><span class='rv-color-red mui-pull-right'><%= this.price %></span></p>
	</a>
</li>